@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import 'partials/header.css';
@import 'partials/future.css';
@import 'partials/state.css';
@import 'partials/traits.css';
@import 'partials/footer.css';

/* CSS variables */
:root {
    --very-dark-blue: #1f3f5b;
    --white: #ffffff;
    --white-opac: #ffffff3a;
    --grayish-blue: #c8c8cb;
    --grayish-blue-opac: #c8c8cb3f;
    --very-dark-grayish-blue: #4b5862;
    --very-dark-black-blue: #25252d;
    --box-shadow: #25252d4a;
    --light-red: #ff3d54;
    --light-red-two: #ff525d;
    --very-light-red: #ff8f70;
    --very-light-red-two: #ff7a85;
    --very-dark-gray-blue: #2c2d3f;
    --very-dark-desaturated-blue: #3f4164;
    --ubuntu: "Ubuntu", sans-serif;
    --overpass: "Overpass", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--overpass);
}